<md-dialog aria-label="Delete platypuses">
    <form flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Delete platypuses</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/img/icons/clear.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-modal-content layout="column">
            <p style="padding: 10px">Are you sure you want to delete theses platypuses ?</p>
            <div class="md-actions" layout="row">
                <md-button class="md-default" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-primary" ng-click="save()">
                    Confirm
                </md-button>
            </div>
        </md-modal-content>
    </form>
</md-dialog>