<md-dialog class="full-size" aria-label="Add a platypus">
    <form flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add a platypus</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/clear.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-modal-content layout="column" flex>
            <div layout="column" layout-padding="5" flex>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="platypus.name"/>
                </md-input-container>

                <md-input-container>
                    <label>Picture</label>
                    <input ng-model="platypus.picture"/>
                </md-input-container>

                <md-input-container>
                    <label>Infos</label>
                    <textarea ng-model="platypus.info" columns="1" md-maxlength="140"></textarea>
                </md-input-container>

            </div>
            <div class="md-actions" layout="row">
                <md-button class="md-default" ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-primary" ng-click="save()">
                    Save
                </md-button>
            </div>
        </md-modal-content>
    </form>
</md-dialog>